<div class="calc-container">
    <Display @formulaDisplay={{this.formulaDisplay}} @liveDisplay={{this.liveDisplay}}/>
    <Buttons @finishCalc={{this.finishCalc}} @liveDisplay={{this.liveDisplay}} @insertOperator={{this.insertOperator}} @updateNumber={{this.updateNumber}} @clearDisplay={{this.clearDisplay}} @plusOrMinusToggle={{this.plusOrMinusToggle}}/>
</div>